# Aumentar limites de upload para essa pasta
php_value upload_max_filesize 15M
php_value post_max_size 16M
php_value memory_limit 128M
php_value max_execution_time 300
php_value max_input_time 300
php_value max_file_uploads 20

# Permitir uploads
<Files ~ "\.php$">
  # Permitir uploads PHP
</Files>

# Adicionar índice
DirectoryIndex index.php

# Desabilitar listagem de diretório
Options -Indexes 